.page {
  background-color: var(--mainbc);
  border-top: 1px solid var(--borderColor);
  padding-block: 30px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .textSec {
      text-align: center;
      color: var(--textColor);

      > h2 {
        font-size: 25px;
      }

      > p {
        font-size: 20px;
        font-weight: 300;
      }

      > p > span {
        color: var(--mutedText);
        font-weight: 600;
        font-style: italic;
      }
    }

    > .ratingSec {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    > .ratingSec > button {
      border-radius: 20px;
      padding-block: 15px;
      padding-inline: 25px;
      transition: filter 0.2s;

      &:nth-child(1) {
        background-color: #de1a24;
      }

      &:nth-child(2) {
        background-color: #bf1029;
      }

      &:nth-child(3) {
        background-color: #759116;
      }

      &:nth-child(4) {
        background-color: #3f8f29;
      }

      &:nth-child(5) {
        background-color: #00ab66;
      }

      &:hover {
        filter:brightness(0.7);
      }
    }

    > .ratingSec > div:hover {
      background-color: var(--accentHover);
    }

    > .ratingSec h3:hover {
      color: var(--accentColor);
    }
  }
}
