.nav {
  width: 100%;
  background-color: var(--mainbc);

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

  /* unden følgende to rules, ser man ikke ovenstående box-shadow. */
  position: relative;
  z-index: 10;

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    color: var(--textColor);
    padding: 15px 0px;
    font-size: 22px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
  }

  ul a,
  ul li {
    text-decoration: none;
    color: var(--textColor);
    transition: color 0.2s;
  }

  ul a:hover,
  ul svg:hover {
    color: var(--accentColor);
  }

  ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  ul svg {
    height: 22px;
    width: auto;
    color: var(--textColor);
    transition: color 0.2s;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .nav {
    padding-block: 15px;
    h1 {
      padding-block: 0px;
    }
    .content {
      flex-direction: column;
      gap: 10px;
    }
  }
}
