
.footer {
  background-color: var(--mainbc);
  padding: 30px 0px;

  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .linkSec {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
  }

  .linkSec h3 {
    font-weight: 500;
  }

  .linkSec a {
    transition: color 0.2s;
  }

  .linkSec a:hover {
    color: var(--accentColor);
  }

  .linkSec span {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .linkSec svg {
    color: var(--textColor);
    transition: color 0.2s;
    cursor: pointer;
    height: 22px;
    width: auto;
  }

  .linkSec svg:hover {
    color: var(--accentColor);
  }

  .linkSec span svg {
    color: var(--accentColor);
    height: 22px;
    width: auto;
    cursor: default;
  }

  h3,
  a,
  p {
    color: var(--textColor);
  }

  p,
  a {
    font-size: 16px;
  }

  h3 {
    font-size: 25px;
  }
}

.copyrightNotice {
  background-color: var(--mainbc);
  padding-block: 15px;

  p {
    color: var(--textColor);
    text-align: center;
    padding-inline: 10px;
    font-weight: 300;
  }
}
