.header {
  width: 100%;
  height: 60vh;

  .notFrontpageText {
    text-align: center;
    color: var(--textColor);
  }
}

.sliderWrapper {
  height: 100%;
}

.slide div:is(:not(.overlay)) {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  position: relative;
}

.slide div:is(.overlay) {
  position: absolute; /* positioned til tættest positioned element, hvilket er slide diven, der er relativ, og har baggrunds billedet. */
  inset: 0; /* top 0, bottom: 0, left: 0, right: 0, så fylder helder parrent ud. */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* så er foran billedet, men ikke teksten */
}

.slide h1 {
  z-index: 2; /* så er foran overlayet. */
  color: var(--btnText);
  text-align: center;
  @media (max-width: 700px) {
    width: 90%;
    margin: 0 auto;
  }
}
