.con {
  width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0px 20px 0px;
}

.searchBox {
  background-color: var(--mainbc);
  padding: 25px 35px;
  /*   box-shadow: 0px 2px 4px rgba(0, 0, 0.3);
 */
  border: 1px solid var(--borderColor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

  color: var(--textColor);

  display: flex;
  flex-direction: column;
  gap: 12px;

  border-radius: 25px;

  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.searchBox .smallgray {
  height: 1px;
  background-color: var(--mutedText);
  width: 100%;
}

.searchBox h2 {
}

.searchBox form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.searchBox form .inputsform {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.searchBox form .inputsform input,
.searchBox form .inputsform opts {
  flex: 1;
}

.searchBox form .inputsform .opts {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

select {
  border: 0;
  outline: none;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: border 0.2s, background-color 0.2s;
  font-size: 16px;
}

.searchBox select {
  appearance: none;
  cursor: pointer;
  background-color: var(--accentColor);
  color: var(--btnText);
}

.searchBox select:hover {
  background-color: var(--accentHover);
}

.searchBox option:disabled {
  color: var(--btnText);
}

@media (max-width: 700px) {
  .con {
    width: 90%;
  }

  .con .searchBox {
    display: flex;
    flex-direction: column;
  }

  .con .searchBox form .inputsform {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .con .searchBox form .inputsform .opts {
    flex-direction: column;
  }
}
