.cardgrid {
  padding: 30px 0px;
  width: 100%;

  background-color: var(--mainbc);

  .content {
    width: 100%;
  }

  .box {
    margin-top: 25px;
  }

  .grid {
    margin-top: 25px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;


    width: min(1000px, 100%);
    margin: 25px auto 0px auto;

    gap: 20px;
  }

  .pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding: 25px 0px 5px 0px;
    gap: 12px;

    li {
      color: var(--textColor);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: color 0.2s;
      cursor: pointer;
      font-size: 20px;
    }

    li:hover {
      color: var(--accentColor);
    }

    li svg {
      height: 22px;
      width: auto;
    }
  }

  .active {
    color: var(--mutedText) !important;
  }

  .notfound {
    color: var(--textColor);
    text-align: start;
  }
}

@media (max-width: 1000px) {
  .cardgrid .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
