.card {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--mainbc);
  width: 100%;


  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px auto 1fr auto;
  row-gap: 15px;

  &.fullpostpage {
    grid-template-rows: auto 1fr auto;

    .top {
      padding-block-start: 15px;
    }
  }

  p,
  a,
  span,
  strong,
  h1,
  h2,
  h3,
  svg,
  button {
    color: var(--textColor);
  }

  button,
  input,
  svg {
    color: var(--btnText);
  }

  .cardLink {
    color: var(--mutedText);
    transition: color 0.2s;
  }

  .cardLink:hover {
    color: var(--accentColor);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    display: block;
  }

  .bottom {
        padding-inline: 18px;
        padding-block-end: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  }

  .top {
        padding-inline: 18px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .top h3 {
    float: right;
    text-align: end;
  }

  .top h3:first-child {
    float: left;
    text-align: start;
  }

  .btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .btns button,
  .btns a {
    flex: 1;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 060504px;

    cursor: pointer;

    border: 0px;
    outline: none;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    transition: background-color 0.2s;
  }

  .btns button svg .btns a svg {
    height: 18px;
    width: auto;
  }

  .btns button:nth-child(1) {
    background-color: var(--accentColor);
  }

  .btns button:hover {
    background-color: var(--accentHover);
  }

  .btns a {
    background-color: red;
    color: var(--btnText);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    flex-wrap: wrap;
  }

  .cat p {
    padding: 8px 14px;
    background-color: var(--mutedText);
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--btnText);
  }

  .textContent {
    padding-inline: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.card.nottransparrent {
  background-color: var(--secColor);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border: 0px;
}

@media (max-width: 500px) {
  .card .content .btns {
    flex-direction: column;
  }
}
